################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Snake/v17
/.vs/Snake/FileContentIndex
